---
layout: archive
title: "Experience"
permalink: /experience/
author_profile: true
redirect_from:
  - /experience.html
  - /resume
  - /resume.html
  - /cv
  - /cv.html
---
<a href="files/paper1.pdf" target="_blank" class="btn"><i class="fas fa-download"></i> Download my CV</a>

<h2 id="education">Education</h2>

<ul>
  <li>
    M.S. in Computer Science, <a href="https://www.cs.columbia.edu" target="_blank">Columbia University</a>, 2020 (expected)
    <br>
    <img src='/images/experience/columbia.png' width="200">
  </li>
  <li>
    B.S. in Computer Science, <a href="https://www.cics.umass.edu" target="_blank">University of Massachusetts Amherst</a>, 2015
    <br>
    <img src='/images/experience/umass.png' width="200">
  </li>
</ul>

<h2 id="research-experience">Research Experience</h2>

<ul>
  <li>
    Research Assistant, May 2020 - Present
    <ul>
      <li><a href="https://graphics.cs.columbia.edu/home/" target="_blank">Computer Graphics and User Interfaces Laboratory</a>, Columbia University</li>
      <li>Advisor: <a href="http://www.cs.columbia.edu/~feiner/" target="_blank">Prof. Steven K. Feiner</a></li>
      <li>Projects: <a href="/projects/project/bounce/">Bounce!</a></li>
    </ul>
  </li>
  <li>
    Research Assistant, September 2019 - Present
    <ul>
      <li><a href="" target="_blank">Computer-Enabled Abilities Laboratory</a>, Columbia University</li>
      <li>Advisor: <a href="http://www.cs.columbia.edu/~brian/" target="_blank">Prof. Brian A. Smith</a></li>
      <li>Projects: <a href="/projects/project/boardgames/">Co-presence in Remote Board Games</a></li>
    </ul>
  </li>
</ul>

<h2 id="industry-experience">Industry Experience</h2>

<ul>
  <li>
    Engineering Development Group Intern, Summer 2019
    <ul>
      <li><a href="https://www.mathworks.com" target="_blank">The MathWorks</a></li>
      <li>Created a tool to aid in automated load testing within MathWorks’ web applications. Used industry-standard tools like Gatling to execute scenarios based on data from application access logs. Coded in Python and MATLAB.</li>
    </ul>
  </li>
  <li>
    Engineering Development Group Intern, Summer 2018
    <ul>
      <li>The MathWorks</li>
      <li>Enabled atomic indexing features within MathWorks’ Apache Solr search engine. Achieved an increase in relevancy and accuracy of searches within MathWorks’ applications. Coded in Java.</li>
    </ul>
  </li>
  <li>
    Software Engineer Intern, Summer 2017
    <ul>
      <li><a href="https://www.rocketsoftware.com" target="_blank">Rocket Software</a></li>
      <li>Developed a RESTful web service to browse and parse Mainframe datasets to be used by Rocket applications. Built upon existing C codebase to construct and manipulate JSON payloads. Coded in C.</li>
    </ul>
  </li>
</ul>

<h2 id="skills">Technical Skills</h2>

<div class="row">
  <div class="column3">
    <h3>Languages</h3>
    <i class="icon-c"></i> C/C++<br>
    <i class="icon-c1"></i> C#<br>
    <i class="fab fa-java"></i> Java<br>
    <i class="icon-matlab"></i> MATLAB<br>
    <i class="fab fa-python"></i> Python<br>
    <i class="fab fa-swift"></i> Swift<br>
  </div>
  <div class="column3">
    <h3>Dev. Tools</h3>
    <i class="icon-arduino"></i> Arduino<br>
    <i class="fab fa-git-alt"></i> Git<br>
    <i class="icon-ros"></i> ROS<br>
    <i class="fab fa-unity"></i> Unity<br>
    <i class="fab fa-app-store-ios"></i> XCode<br>
  </div>
  <div class="column3">
    <h3>Operating Systems</h3>
    <i class="fab fa-apple"></i> Mac OS<br>
    <i class="fab fa-raspberry-pi"></i> Raspbian<br>
    <i class="fab fa-ubuntu"></i> Ubuntu<br>
    <i class="fab fa-windows"></i> Windows<br>
  </div>
</div>

<!-- <h2>Publications</h2> -->
  <!-- <ul>{% for post in site.publications %}
    {% include archive-single-cv.html %}
  {% endfor %}</ul> -->
  <!-- <a href="/publications/">See my Publications page</a> -->
  
<!-- ## Talks
  <ul>{% for post in site.talks %}
    {% include archive-single-talk-cv.html %}
  {% endfor %}</ul> -->
  
<h2>Teaching</h2>
  <!-- <ul>{% for post in site.teaching %}
    {% include archive-single-cv.html %}
  {% endfor %}</ul> -->
  <a href="/teaching/">See my Teaching page</a>